.about--container>.about--container__title {
    text-align: center;
    position: relative;
}

.about--container>.about--container__title>h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1B1B1B;
    font-size: clamp(18px, 4vw, 50px);
    font-weight: 500;
    width: 100%;
}

.about--container>.about--container__content {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    color: #1B1B1B;
    font-size: clamp(16px, 2vw, 25px);
}

.banner-step {
    display: flex;
    gap: 10px;
    background-image: url(/assets/images/man-4.png);
    padding: 0px;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: #174999;
}

.banner-step > img.journy-desktop{
    width: 100%;
    display: block;
}

.banner-step > img.journy-mobile{
    width: 100%;
    display: none;
}

.chemin {
    stroke-dasharray: 2000;  /* Set the length of the dash */
    stroke-dashoffset: 2000; /* Initially hide the path */
    animation: draw 5s ease-in-out forwards; /* Apply the animation */
  }
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }

/* .banner-step > .banner-step__item_list:nth-child(3) {
    grid-column: 2 / 5;
    grid-row: 1 / 5;
    background: transparent;
    border: none;
    visibility: hidden;
} */

.banner-step > .banner--bg-img {
    display: none;
    position: absolute;
    top: 0px;
    left: 0%;
    height: 100%;
    width: 100%;
    background: #034ea2;
}

.banner-step > .banner--bg-img > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
    object-position: 34%;
}

.banner-step__item_list {
    padding: 20px;
    z-index: 2;
    /* opacity: 0;
    transform: translateY(100px); */
}
.banner-step__item_list >.banner-step__year {
    background-color: #FCAF17;
    color: #fff;
    font-size: 20px;
    padding: 2px 10px;
    width: fit-content;
}

.banner-step__item_list > p {
    color: #fff;
    font-size: 12px;
    margin-top: 10px;
}

.about--container-b {
    background-color: #174999;
    padding: clamp(80px,6vw,100px) 0px;
    display: flex;
    background-image: url(/assets/images/pathways.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    min-height: 100vh;
    position: relative;
}
.about--container-b:before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #174999, transparent);
    position: absolute;
    left: 0;
    top: 0px;
}

.about--container-b > .about--container__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: clamp(20px,8vw,150px);
    max-width: 895px;
}

.about--container-b > .about--container__img {
    width: 100%;
}

.about--container-b > .about--container__left > h2 {
    font-size: clamp(25px,3vw,50px);
    font-weight: 600;
    color: #fcaf17;
}

.about--container-b > .about--container__left > h3 {
    font-size: clamp(20px,3vw,40px);
    font-weight: 600;
    color: #fff;
}

.about--container-b > .about--container__left > p {
    color: #fff;
    font-size: 18px;
}

.about--container-b > .about--container__img > img {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    opacity: 0;
}
.chairman--section {
    display: flex;
    padding-top: 150px;
    padding-bottom: 100px;
    gap: 20px;
    justify-content: center;
}

.chairman--section>.chairman--section__image {
    max-width: 520px;
    width: 100%;
    background: #FCAF17;
    padding: 20px;
}

.chairman--section>.chairman--section__image>img {
    max-width: 365px;
    width: 100%;
    object-fit: contain;
    margin-top: -100px;
}

.chairman--section>.chairman--section__content {
    max-width: 690px;
    width: 100%;
    margin-left: 4vw;
}

.chairman--section>.chairman--section__content>img {
    max-width: clamp(40px, 3vw, 70px);
    width: 100%;
}

.chairman--section>.chairman--section__content>h2 {
    font-size: clamp(18px, 3vw, 40px);
    font-weight: 600;
    color: #1B1B1B;
    margin-bottom: 20px;
}

.chairman--section>.chairman--section__content>p {
    color: #1B1B1B;
    font-size: clamp(16px, 2vw, 18px);
}

.chairman--section>.chairman--section__content>.btn {
    background: #1B1B1B;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    display: block;
    margin-top: 20px;
    width: fit-content;
}

.stratigic--container {
    background: #174999;
    padding: 50px 15px;
}

.stratigic--container > .title-stratigic {
    color: #FCAF17;
    font-size: clamp(20px,2vw,30px);
    text-align: center;
    font-weight: 500;
}

.stratigic--container > .stratigic--container__items {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
    gap: 13px;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stratigic--container > .stratigic--container__items > .stratigic--container__item {
    width: 100%;
    background-image: url(/assets/images/liner-circle.png);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 35px 14px;
    max-width: fit-content;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 55px;
    background-size: contain;
}

.stratigic--container > .stratigic--container__items > .stratigic--container__item > h3 {
    color: #fff;
    font-size: clamp(25px,5vw,50px);
    font-weight: 600;
    line-height: normal;
}
.stratigic--container > .stratigic--container__items > .stratigic--container__item > p {
    color: #fff;
    font-size: 20px;
}
.stratigic--container > .stratigic--container__items > .stratigic--container__item > h3 > span {
    font-size: 16px;
}

.stratigic--container > .stratigic--container__image {
    width: 100%;
    padding: clamp(40px,6vw,100px)0px;
}

.stratigic--container > .stratigic--container__image > img {
    margin: 0 auto;
    max-width: 1330px;
    width: 100%;
}

.stratigic--container__range {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.stratigic--container__range > p {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 179px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
}

.stratigic--container__range > p > span {
    background: #ccc;
    width: 23px;
    height: 23px;
    display: block;
}

.stratigic--container__range > p > span.blue {
    background: #233F8E;
}

.stratigic--container__range > p > span.orange {
    background: #FCAF17;
}

.stratigic--container__range > p > span.red {
    background: #D2232A;
}

.stratigic--resoreces {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    gap: 22px;
    justify-content: center;
    margin-top: 50px;
}

.stratigic--resoreces > .stratigic--resoreces__item {
    max-width: 385px;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.stratigic--resoreces > .stratigic--resoreces__item > img {
    width: 100%;
    max-width: 122px;
    object-fit: contain;
}

.stratigic--development {
    display: flex;
    padding: 50px;
    justify-content: space-between;
    gap: 20px;
}

.stratigic--development > .stratigic--sales > h2, .stratigic--development > .stratigic--catifications > h2 {
    color: #FCAF17;
    font-size: clamp(20px,2vw,30px);
    text-transform: uppercase;
}

.stratigic--development > .stratigic--sales > .stratigic--sales__items {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 20px;
}

.stratigic--development > .stratigic--sales > .stratigic--sales__items > .stratigic--container__item {
    width: 100%;
    background-image: url(/assets/images/liner-circle.png);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 35px 14px;
    max-width: fit-content;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 55px;
    background-size: contain;

}

.stratigic--development > .stratigic--sales > .stratigic--sales__items > .stratigic--container__item > h3 {
    color: #fff;
    font-size: clamp(25px, 5vw, 50px);
    font-weight: 600;
    line-height: normal;
}
.stratigic--development > .stratigic--sales > .stratigic--sales__items > .stratigic--container__item > p {
    color: #fff;
    font-size: 20px;
}
.stratigic--development > .stratigic--sales, .stratigic--development > .stratigic--catifications {
    width: 100%;
}

.stratigic--development > .stratigic--catifications > ul {
    color: #fff;
    list-style: disc;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.stratigic--development > .stratigic--catifications 
 > .stratigic--catifications__items {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.stratigic--development > .stratigic--catifications > .stratigic--catifications__items > img {
    max-width: 30%;
    width: 100%;
}

.fixed--banner {
    width: 100%;
    position: relative;
}

.fixed--banner > img {
    width: 100%;
}

.fixed--banner > .fixed--banner__content {
    background: #fff;
    position: absolute;
    top: 7%;
    right: 3%;
    max-width: 690px;
    padding: 35px;
    width: 42%;
}

.fixed--banner > .fixed--banner__content > h3 {
    color: #FCAF17;
    font-size: clamp(20px, 2vw, 30px);
    text-transform: uppercase;
}

.fixed--banner > .fixed--banner__content > p {
    color: #1B1B1B;
    font-size: clamp(16px,1vw,18px);
    margin-top: 1rem;
}

button.tablinks {
    background: #174999;
    color: #fff;
    width: 100%;
    border-radius: 0px;
    padding: 10px 15px;
    text-align: left;
    display: none;
    align-items: center;
    justify-content: space-between;
    max-width: 95%;
    margin: 0 auto;
    margin-bottom: 0.3rem;
}

button.tablinks>img {
    width: 20px;
    filter: brightness(0) invert(1);
    transform: rotate(90deg);
    transition: 0.3s;
}

button.tablinks.active>img {
    transform: rotate(0deg);
}

/* media */
@media(max-width: 1200px) {
    .banner-step > .banner-step__item_list:nth-child(3) {
        grid-column: 2 / 4;
        grid-row: 1 / 3;
    }
}
@media(max-width: 1024px) {

    .chairman--section>.chairman--section__content {
        margin-left: 0vw;
    }
}

@media(max-width: 991px) {
    .stratigic--development {
        flex-direction: column;
        padding: 40px 0px;
        padding-bottom: 0;
    }
    .fixed--banner > .fixed--banner__content {
        top: auto;
        right: 0%;
        max-width: 100%;
        padding: 15px;
        width: 92%;
        bottom: 6%;
    }
}
@media(max-width: 767px) {

    .about--container>.about--container__title {
        padding: 20px 0px;
    }
    .about--container-b{
        min-height: auto;
    }
    .about--container-b > .about--container__left{
        padding-left: 15px;
    }
    .banner-step{
        padding: 0px;
    }
    .banner-step > img.journy-desktop{
        display: none;
    }
    
    .banner-step > img.journy-mobile{
        display: block;
    }
    .chairman--section {
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .chairman--section>.chairman--section__image {
        max-width: 100%;
    }
    .chairman--section>.chairman--section__image>img {
        max-width: 200px;
        margin: 0 auto;
        margin-top: -50px;
    }
    .stratigic--container > .stratigic--container__items > .stratigic--container__item{
        min-height: auto;
    }
    .fixed--banner > .fixed--banner__content {
        position: relative;
        top: 0%;
        width: 100%;
        padding: 30px 10px;
        right: 0%;
        max-width: 100%;
        left: auto;
        bottom: auto;
    }
    
    .fixed--banner > img {
        position: relative;
        width: 100%;
        left: 0px;
        top: 0px;
        height: 100%;
        object-fit: cover;
    }
    
    .fixed--banner {
        margin-bottom: 20px;
        display: none;
        max-height: 100% !important;
        height: 100% !important;
        max-width:  95% !important;
        box-shadow: 0px 6px 4px 1px #0000000d;
        margin: 0 auto;
    }
    .main--footer{
        display: block;
        margin-top: 2rem;
    }
    
    .fixed--banner > .fixed--banner__content > h3 {
        font-size: 18px;
    }
    
    .fixed--banner > .fixed--banner__content > p {
        font-size: 12px;
        margin-top: 6px;
    }
    
    .about--container > .pin-spacer {
        height: 300px !important;
    }
    button.tablinks{
        display: flex;
    }
}

@media(max-width: 480px) {
    .stratigic--container > .stratigic--container__items > .stratigic--container__item{
        max-width:90%;
        width: 100%;
    }
}