* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    color: #333;
}
.bg-title {
    font-size: 16.5vw;
    text-transform: uppercase;
    font-weight: 800;
    color: #0d3c89;
    line-height: normal;
    opacity: 0.8;
}
/* header */

.main--div {
    margin: 0 auto;
    width: 100%;
    /* max-width: 97%; */
    padding-top: 94px;
}

header.main--header {
    padding:1.2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: #fff;
    box-shadow: 0px 1px 7px 5px #00000021;
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

header.main--header>.nav--div>.nav--list {
    display: flex;
    align-items: center;
    gap: 10px;
}

header.main--header>.nav--div>.nav--list>li>a {
    border-radius: 40px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 71px;
    height: 45px;
    gap: 7px;
    justify-content: center;
    align-items: flex-end;
    padding-right: 19px;
}
header.main--header>.nav--div>.nav--list>li>a:hover .hambugar {
    background: #fff;
}
header.main--header>.nav--div>.nav--list>li>a>.hambugar {
    height: 2px;
    background: #000;
    display: block;
    border-radius: 50px;
}

header.main--header>.nav--div>.nav--list>li>a>.hambugar.line--top {
    width: 20px;
}

header.main--header>.nav--div>.nav--list>li>a>.hambugar.line--middle {
    width: 30px;
}

header.main--header>.nav--div>.nav--list>li>a>.hambugar.line--bottom {
    width: 25px;
}
header.main--header>.logo--div>a>img {
    width: 250px;
}
/* .main--menu {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    background: #FCAF17;
    height: 100%;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
    z-index: 999;
    overflow: auto;
} */
.main--menu {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    /* background-color: linear-gradient(45deg, #174999, transparent); */
    height: 100%;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
    z-index: 999;
    overflow: auto;
    background-image: url(../../assets/images/journy-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.main--menu:before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #FCAF17, #174999f5);
    position: absolute;
    top: 0;
    left: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
}

.main--menu>.menu--area>.menu--header>.logo--div>a>img {
    width: 250px;
}

.main--menu>.menu--area>.menu--header>.logo--div>a {
    background: #fff;
    display: block;
    border-radius: 50px;
    width: fit-content;
    padding: 10px 15px;
}

.main--menu.show {
    transform: translateY(0%);
}

.main--menu>.menu--area {
    margin: 0 auto;
    width: 100%;
    max-width: 97%;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem 0px;
    z-index: 999;
    position: relative;
    overflow: auto;
}

.main--menu>.menu--area::-webkit-scrollbar {
    width: 0px;
  }
  

.main--menu>.menu--area>.menu--header {
    padding: 2rem 0px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.main--menu>.menu--area>.menu--header>.menu--nav>.menu--items--list {
    padding-top: 15%;
}

.main--menu>.menu--area>.menu--header>.nav--div>.nav--list {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}

.main--menu>.menu--area>.menu--header>.nav--div>.nav--list>li>a {
    border-radius: 50px;
    padding: 12px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #000000;
    color: #fff;
    background: #000;
}

.main--menu>.menu--area>.menu--header>.logo--div {
    width: 25%;
}

.main--menu>.menu--area>.menu--header>.logo--div>img {
    width: 100%;
    max-width: 230px;
}

.main--menu>.menu--area>.menu--header>.menu--nav {
    width: 45%;
}

.main--menu>.menu--area>.menu--header>.nav--div {
    width: 30%;
    justify-content: flex-end;
}


.main--menu>.menu--area>.menu--header>.menu--nav>.menu--items--list>.menu--items {
    display: flex;
    flex-direction: column;
}

.main--menu>.menu--area>.menu--header>.menu--nav>.menu--items--list>.menu--items>.menu--item>a, .main--menu>.menu--area>.menu--header>.menu--nav>.menu--items--list>.menu--items>.menu--item>.dropdown>a, .main--menu>.menu--area>.menu--header>.menu--nav>.menu--items--list>.menu--items>.menu--item>a, .main--menu>.menu--area>.menu--header>.menu--nav>.menu--items--list>.menu--items>.menu--item>.dropdown-content>a {
    font-size: clamp(25px, 5vw, 40px);
    color: #1B1B1B;
    text-transform: uppercase;
    transition: 0.3s;
}

.main--menu>.menu--area>.menu--header>.menu--nav>.menu--items--list>.menu--items>.menu--item>.dropdown-content>a {
    font-size:clamp(18px, 2vw, 23px);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 0.5rem;
}

.main--menu>.menu--area>.menu--header>.menu--nav>.menu--items--list>.menu--items>.menu--item>.dropdown-content>a>img {
    width: 9px;
}

.main--menu>.menu--area>.menu--header>.menu--nav>.menu--items--list>.menu--items>.menu--item>.dropdown{
    display: flex;
    align-items: center;
    width: fit-content;
}
.main--menu>.menu--area>.menu--header>.menu--nav>.menu--items--list>.menu--items>.menu--item>.dropdown>img {
    width: 35px;
    transform: rotate(90deg);
    cursor: pointer;
    margin-left: 1rem;
    transition: 0.3s;
}

.main--menu>.menu--area>.menu--header>.menu--nav>.menu--items--list>.menu--items>.menu--item>.dropdown.active > img {
    transform: rotate(-90deg);
}

.main--menu>.menu--area>.menu--header>.menu--nav>.menu--items--list>.menu--items>.menu--item>.dropdown-content {
    display: none;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
}

.main--menu>.menu--area>.menu--header>.menu--nav>.menu--items--list>.menu--items>.menu--item>.dropdown.active ~ .dropdown-content {
    display: block;
}

.menu--btn {
    margin-top: 1rem;
}

.menu--btn>ul>li>a {
    background: #000;
    border-radius: 50px;
    color: #fff;
    padding: 8px 15px;
    text-transform: uppercase;
    font-size: clamp(14px, 1vw, 16px);
}

.menu--btn>ul, .menu--btn>ul>li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    row-gap: 10px;
}

.menu--btn>ul>li>span {
    font-size: clamp(18px, 3vw, 27px);
    font-weight: 600;
}

.main--menu>.menu--area>.menu--header>.menu--nav>.menu--items--list>.menu--items>.menu--item>a:hover {
    margin-left: 10px;
}

.main--menu>.menu--area>.menu--header>.menu--nav>.menu--items--list>.menu--items>.menu--item>a:after, .main--menu>.menu--area>.menu--header>.menu--nav>.menu--items--list>.menu--items>.menu--item>.dropdown>a:after {
    content: '';
    max-width: 250px;
    height: 2px;
    background: #000;
    display: block;
    width: 0%;
    transition: 0.3s;
}

.main--menu>.menu--area>.menu--header>.menu--nav>.menu--items--list>.menu--items>.menu--item>a:hover:after, .main--menu>.menu--area>.menu--header>.menu--nav>.menu--items--list>.menu--items>.menu--item>.dropdown>a:hover:after {
    width: 100%;
}

.main--menu>.menu--area>.menu--footer {
    background: #fff;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: auto;
}

.main--menu>.menu--area>.menu--footer>.menu--heading>h2 {
    font-size: clamp(25px, 3vw, 30px);
    color: #1B1B1B;
    font-weight: 600;
}

.main--menu>.menu--area>.menu--footer>.menu--footer--social>.menu--footer--social--list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main--menu>.menu--area>.menu--footer>.menu--footer--social>.menu--footer--social--list> li.menu--footer--social--item > a > img {
    width: clamp(30px,3vw,40px);
    aspect-ratio: 1;
    transition: 0.3s;
}

.main--menu>.menu--area>.menu--footer>.menu--footer--social>.menu--footer--social--list> li.menu--footer--social--item > a:hover img {
    transform: scale(1.2);
}

/* header end */

/* footer */
.main--footer {
    background: #fff;
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
}

.main--footer > .main--footer__content {
    padding: clamp(15px,3vw,40px);
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.main--footer__logo > img {
    width: 250px;
    margin-top: 10px;
}

.main--footer > .main--footer__content >.main--footer__links > h3 {
    color: #8B8B8B;
    font-size: 14px;
}

.main--footer > .main--footer__content >.main--footer__links > ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 13px;
}

.main--footer > .main--footer__content >.main--footer__links > ul > li > a {
    font-size: 14px;
    color: #1B1B1B;
}

.main--footer > .main--footer__social {
    padding: clamp(15px,3vw,40px);
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-end;
    padding-top: 0px;
}
.main--footer > .main--footer__social > a > img {
    width: 40px;
}
.main--footer > .main--footer__content >.main--footer__links {
    width: auto;
    max-width: 300px;
}
.main--footer > .main--footer__content >.main--footer__links > ul > li > a:hover:after {
    width: 100%;
}

.main--footer > .main--footer__content >.main--footer__links > ul > li > a:after {
    content: '';
    width: 0%;
    height: 1px;
    background: #000;
    display: block;
    transition: 0.3s;
}
/* footer end */

.down-arrow{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100vh - 250px);
    animation: jumpInfinite 1.5s infinite;
    z-index: 2;
    width: 60px;
    height: 60px;
    background: linear-gradient(45deg, #034ea2, #fcaf17);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
.down-arrow:before {
    content:"";
    width: 0;
    height: 33px;
    position: relative;
    display: block;
    border: 2px solid #fff;
    border-radius: 2px;
  }

  
  .down-arrow:after {
    content: " ";
    position: absolute;
    width: 21px;
    height: 21px;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
    border-radius: 4px;
    transform: rotateZ(45deg);
    bottom: 16px;
  }

  @keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
  }

  .engineered--section{
    padding: 50px 15px;
    background: #ffffff;
  }

  .engineered--section > h2{
    font-size: clamp(20px, 3vw, 40px);
    font-weight: 600;
    color: #174999;
  }

/* .engineered--success {
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(350px,1fr));
    gap: 22px;
    max-width: 100%;
  
    max-width: 1600px;
    margin: 0 auto;
} */

.engineered--success > .box--container {
    padding: clamp(10px, 2vw, 20px);
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 2px 3px #ececec;
}

.engineered--success > .box--container > h3 {
    font-size: 18px;
    font-weight: 700;
}

.engineered--success > .box--container > h3 > span {
    font-weight: 400;
}

.engineered--success > .box--container > h3:after {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background: #034ea2;
    margin-top: 10px;
    margin-bottom: 10px;
}

.engineered--success > .box--container > .box-bar {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.engineered--success > .box--container > .box-bar > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.engineered--success > .box--container > .box-bar > div > progress::-webkit-progress-bar {
    background: #fff;
    border-radius: 50px;
    height:20px;
    
}

.engineered--success > .box--container > .box-bar > div > progress::-webkit-progress-value {
    background: #174999;
    border-radius: 50px;
}
.engineered--success > .box--container > .box-bar > div:first-child > progress::-webkit-progress-value {
    background: #fcaf17 ;
}

#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 100;
    background-color: #174999;
    color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 50px;
    border-radius: 50%;
    font-size: 18px;
    height: 50px;
    /* border: 1px solid #fff; */
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/images/top-arrow.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #scrollTopBtn:hover {
    background-color: #333; /* Add a darker background on hover */
  }


/* media quries */

@media (max-width: 1200px) {
    .main--footer > .main--footer__content{
        gap: 2rem;
    }
}
@media (max-width: 1023px) {
    .main--menu>.menu--area>.menu--header>.menu--nav {
        width: 100%;
        padding-top: 2rem;
    }

    .main--menu>.menu--area>.menu--header>.logo--div {
        width: 100%;
    }

    .main--menu>.menu--area>.menu--header>.logo--div>ul.nav--list>.nav--item>a {
        border-radius: 50px;
        padding: 12px 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main--menu>.menu--area>.menu--header>.logo--div>ul.nav--list {
        gap: 10px;
    }
}

@media (max-width: 767px) {
    .bg-title{
        font-size: 15.5vw;
    }
    .main--menu>.menu--area{
        padding: 0;
    }
    .main--menu>.menu--area>.menu--header {
        padding: 1rem 0px;
    }
    .main--div {
        padding-left:0.5rem;
        padding-right:0.5rem;
    }

    .main--menu {
        padding: 1rem 0.5rem;
    }


    .main--menu>.menu--area>.menu--header>.logo--div {
        flex-direction: column-reverse;
        align-items: flex-start;
        row-gap: 20px;
    }

    .main--menu>.menu--area>.menu--header>.logo--div {
        width: 100%;
        gap: 0px;
    }

    .main--menu>.menu--area>.menu--header>.logo--div>a {
        margin-top: 20px;
    }

    .main--menu>.menu--area>.menu--header>.logo--div>img {
        width: 100%;
        max-width: 180px;
    }

    .main--menu>.menu--area>.menu--header>.logo--div>ul.nav--list {
        width: 100%;
        justify-content: flex-end;
    }

    .main--menu>.menu--area>.menu--header>.logo--div>ul.nav--list>.nav--item>a {
        padding: 8px 20px;
        font-size: 14px;
    }
    header.main--header>.nav--div>.nav--list>li>a{
        font-size: 14px;
    }

    header.main--header>.nav--div>.nav--list>li.mobile--contact{
        position: fixed;
        left: 0px;
        top: 40%;
        z-index: 2;
    }

    header.main--header>.nav--div>.nav--list>li.mobile--contact>a {
        border-radius: 0px 50px 50px 0px;
        font-size: 14px;
        background: #000;
        color: #fff;
    }
}

@media (max-width: 480px) {
    header.main--header {
        padding: 1rem 1rem;
    }
    .main--menu>.menu--area>.menu--header {
        padding: 0px;
    }

    .main--menu>.menu--area>.menu--header>.logo--div>ul.nav--list {
        width: 100%;
        justify-content: center;
    }

    .main--menu>.menu--area>.menu--header>.logo--div>ul.nav--list>.nav--item {
        width: 50%;
    }

    .main--menu>.menu--area>.menu--footer {
        flex-direction: column;
        padding: 1rem;
    }
    /* .engineered--success {
        display: grid;
        grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
    } */
    header.main--header>.logo--div>a>img, .main--menu>.menu--area>.menu--header>.logo--div>a>img {
        width: 200px;
    }
    .main--div {
        padding-top: 75px;
    }
}